<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf 8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   <body>
    <nav class="navbar navbar-toggleable-sm bg-info navbar-inverse fixed-top">
     <div class="container">
      <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <div class="navbar-nav">
         <a class="navbar-brand" href="#"><img src="log.png" class="img-responsive" height="50" width="50"></a></div>
         <% if (user) { %>
         <a class="nav-item nav-link active" href="/logout">Logout</a>
         <a class="nav-item nav-link active" href="/dashboard">Dashboard</a>
         <%} else{%>
        
         <a class="nav-item nav-link active" href="/reg">Registration</a>
          <a class="nav-item nav-link active" href="/login">Login</a>
          <a class="nav-item nav-link active" href="/dashboard">Dashboard</a>
          <% }%>
        </div>
      </div>
    </div>
  </nav>
</body>
</head>
</html>
           