<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf 8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Logout</title>
    <style type="text/css">
        #welcome{
            position: relative;
            margin-left: 490px;
        }
    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <body>
        <% include partials/nav1.ejs%>
        <br>
        <br>
        <br>
        <br>
        <h1 align="center" ><span style="color:green">Welcome to our website</span></h1>
        <img src="welcome.jpg" height="300" width="400" id="welcome">
        <h1  align="center"><span style="color:orange">Good to see you  here,</span></h2>
        <h1 align="center"><span style="color:blue">Lets Start!</span></h2>
            <h1 align="center"><span style="color:blue">Change Password for security purpose</span></h2>

        
    </body>
</head>
</html>