<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf 8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>Login</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
     
     <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
     <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
     <style type="text/css">
      
      #password
      {
        width:50%;
      }
      #login
      {
        position: relative;
        margin-left: 500px;
        

      }
      #button
      {
        margin-left: 2px;
        width:30%;
        border-radius: 10px;
      }

     

   
      
     </style>
 <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <body>
     <% include partials/nav1.ejs%>
     <br>
     <br>
     <br>
     <br>
    <h1 align="center" >Forgot Password</h1>
    <h2 align ="center">Set a new password</h2>
    <div id="login">
    <br>
<form action="/forgotpassword" method="post" role="form" class="forgotpassword">
<div class="form-group">
<input type="password" class="form-control br-radius-zero" name="password" placeholder="Enter  your new password" id="password">
</div>
<button type="submit" class="btn btn-primary" id="button" value="Submit">Submit</button>
</form>
</body>
</head>
</html>